.loading {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C5B0A2;
  border: none;
  overflow: hidden;
}

.loading video {
  width: 100vw;
  /* max-width: 100%; */
  /* min-height: 100%; */
  object-fit: cover;
  object-position: center;
  clip-path: inset(5% 5%); 
}